html {
    text-size-adjust: 100%;
}

body {
    margin: 0;
    font: 13px helvetica,arial,freesans,clean,sans-serif;
    font-weight: bold;
}

.imglogo {
    padding: 0.5em;
}

header {
    min-height: 1.4em;
}

.headerassets {
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 3em;
}

.center {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

ul.topnav {
    list-style: none;
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: flex-end;
}

li {
    padding: 1em;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:focus {
    outline: auto;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: cornflowerblue;
}

.imagebox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.cats {
    max-height: 424px;
    max-width: 424px;
}

div.footer {
    height: 630px;
    width: 426px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.text {
}

figure {
    margin: 0;
    padding-top: 0.2em;
}

.figureimg {
    border: 1px solid #cacaca;
    padding: 0.5em;
}

.captiondiv {
    display: flex;
    justify-content: flex-end;
}

figcaption span {
    color: #777;
    font-size: 1.5em;
}

figcaption a {
    color: #333;
    font-size: 1.5em;
}

figcaption img {
    margin: 10px;
}

{
    border: 1px solid green;
}
/*ask jason about crabcore*/
